body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.Dashboard{
    position: fixed;
    display: flex;
    background-color: gray;
    padding: 0 20px ;
    height: 50px;
    width: 100%;
}
.DashB{
    margin: 0;
    text-align: center;
}
a{
    margin-top: 0;
    background-color: white;
    font-size: large;
}

.Channel{
    display: none;
}

.Channel:target{
    display: block;
}
